<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %boldCyan(%-40.-40thread) %boldGreen(%-20.-20logger{0}) %red(%10.10mdc{jda.shard}) %boldMagenta(%-20.-20mdc{guild}) %magenta(%20.20mdc{user}) %highlight(%6level) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>